@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap');

body {
  height: 60vh;
  font-size: 20px;
  font-family: sans-serif;
  background-color: #121212;
  color: darkgray;
  margin: 0;
  padding: 0;
}

form {
  position: absolute;
  background-color: #252525;
  border: 5px solid darkgray;
  border-radius: 15px;
  padding: 25px;
  margin: 0 auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

form .Linealh2 {
  font-size: 27;
  display: block;
  margin-top: 10px;
  font-family: sans-serif;
  color: white;
  border-bottom: 1.5px solid white;
  padding-bottom: 5px;
  margin-bottom: 18px;
}

form h2::after {
  text-transform: capitalize;
  font-family: Courier;
  font-size: 25px;
  font-style: oblique;
  color: burlywood;
  content: attr(data-after-content);
}

form label,
form input {
  color: lightgray;
  margin-top: 4px;
  font-size: 18px;
}


/* Clase del boton */
.btnFormularios {
  box-shadow: 0 0 5px burlywood;
  font-size: 18px;
  padding: 4px 20px;
  border-radius: 15px;
  margin-bottom: 10px;
  background-color: transparent;
  /* color de fuente */
  color: darkgray;
  border: 3px solid #715d42;
  position: relative;
  z-index: 1;
  overflow: hidden;
  transition: 0.3s all cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.btnFormularios:hover {
  transform: scale(1.1);
  text-shadow: 0 0 2px black;
  box-shadow: 0 0 5px burlywood,
    0 0 90px #715d42;
  font-style: oblique;
  font-weight: bold;
  color: black;
  border: 3px solid burlywood;
}

.btnFormularios::after {
  content: "";
  background: burlywood;
  /* color de fondo hover */
  position: absolute;
  z-index: -1;
  display: block;
  left: -100%;
  right: 100%;
  -webkit-transition: all 0.50s;
  transition: all 0.50s;
}

.btnFormularios:hover::after {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  -webkit-transition: all 0.50s;
  transition: all 0.50s;
}


/* ESTILOS PARA LA BARRA DE SCROLL */
::-webkit-scrollbar {
  width: 10px;
  background-color: rgb(222, 184, 135, .6);
}

::-webkit-scrollbar-thumb {
  border-left: 1px solid rgb(222, 184, 135, .6);
  border-radius: 20px 0 20px;
  background-color: #333;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #222;
}



/* ALGUNAS COSAS CHEVERES

Esto de aqui abajo, es para agregarle animación de como que sobre salga algo, puede ser un input o
cualquier cosa
  width: calc(100% - 20px);
  transition: 0.3s all cubic-bezier(0.175, 0.885, 0.32, 1.275);
Este de abajo es complemento de lo de arriba y se debe usar para que sobre salga tipo 3d, esta hace 
que sobresalga
  transform: scale(1.12);

Esta animación la usaremos en el boton btnFormularios
*/