@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@229&display=swap');

body {
  height: 60vh !important;
  font-size: 20px !important;
  font-family: "Nunito" !important;
  background-color: #121212 !important;
  color: whitesmoke !important;
}

/* Clase del boton */
.btnFormularios {
  font-size: 18px;
  padding: 2px 10px;
  border-radius: 9px;
  margin-bottom: 20px;
  background-color: rgba(222, 184, 135, 0.13);
  /* color de fuente */
  color: lightgray;
  border: 3px solid #715d42;
  position: relative;
  z-index: 1;
  overflow: hidden;
  transition: 0.3s all cubic-bezier(0.175, 0.885, 0.32, 1.275);
  outline: none !important;
}

.btnFormularios:hover {
  transform: scale(1.06);
  text-shadow: 0 0 2px black;
  box-shadow: 0 0 5px burlywood,
    0 0 90px #715d42;
  font-style: oblique;
  font-weight: bold;
  color: black;
  border: 3px solid burlywood;
}

.btnFormularios:focus{
  transform: scale(1.05);
  border: .5px solid white;
  text-shadow: 1px 0 0 gray;
  box-shadow: 0 0 5px burlywood;
  background-color: rgba(222, 184, 135, 0.2) ;
}

.btnFormularios::after {
  content: "";
  background: burlywood;
  /* color de fondo hover */
  position: absolute;
  z-index: -1;
  display: block;
  left: -100%;
  right: 100%;
  -webkit-transition: all 0.50s;
  transition: all 0.50s;
}

.btnFormularios:hover::after {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  -webkit-transition: all 0.50s;
  transition: all 0.50s;
}


/* ESTILOS PARA LA BARRA DE SCROLL */
::-webkit-scrollbar {
  width: 10px;
  background-color: rgb(222, 184, 135, .6);
}

::-webkit-scrollbar-thumb {
  border-left: 1px solid rgb(222, 184, 135, .6);
  background-color: #333;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #222;
}



/* ALGUNAS COSAS CHEVERES

Esto de aqui abajo, es para agregarle animación de como que sobre salga algo, puede ser un input o
cualquier cosa
  width: calc(100% - 20px);
  transition: 0.3s all cubic-bezier(0.175, 0.885, 0.32, 1.275);
Este de abajo es complemento de lo de arriba y se debe usar para que sobre salga tipo 3d, esta hace 
que sobresalga
  transform: scale(1.12);

Esta animación la usaremos en el boton btnFormularios
*/