@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css');

/* Este import es para el icono de usuario */

/* Para realizar el circulo */
.circle {
    position: absolute;
    margin: 0 auto;
    margin-top: -50px;
    z-index: 2;
    left: 50%;
    transform: translate(-50%);
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #7c6951;
    border: 3.5px solid rgba(222, 184, 135, 0.5);
}

/* Para acomodar bien y centrar el icono */
.circle .fas.fa-user {
    position: relative;
    margin-top: 10px;
    justify-content: center;
    color: darkgray;
    font-size: 108px;
    -webkit-text-stroke: 3px rgba(255, 255, 255, 0.7);
}

/* Acomodamos el formulario a nuestro gusto */
.formLogin {
    z-index: 1;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #212121;
    display: flex;
    flex-direction: column;
    padding: 0 27px;
    width: 80%;
    max-width: 370px;
    /* Limita el ancho máximo del formulario */
    text-align: center;
    border: 3px solid darkgray;
    border-radius: 45px;
}

/* Acomodamos también el h2 a nuestro gusto */

.title-loggin {
    margin: 0 auto;
    margin-top: 130px;
    margin-bottom: 40px;
    /* El import de este tipo de letra está en el index.css */
    font-family: 'Pixelify Sans', cursive;
    color: rgb(245, 239, 239);
    font-weight: bold;
    font-size: 32px;
    text-wrap: nowrap;
    text-align: center;
    text-shadow: 4px 0 0 rgb(0, 0, 0, 0.3);
    padding: 3px 17px;
    background-color: rgba(123, 104, 81, 0.632);
    border-radius: 12px;
}

/* A partir de aqui, es para acomodar todo lo que vendría siendo el input junto al label */
.user-box {
    position: relative;
    display: flex;
    align-items: center;
    margin: 0 auto;
    /* border: 2px solid red; */
    width: 91%;
}

.user-box input {
    /* box-sizing: content-box; */
    width: 100%;
    /* El ancho del input será el 100% menos 40px de padding */
    display: inline;
    padding: 0px 10px;
    font-size: 17px;
    color: darkgray;
    margin-bottom: 55px;
    border: none;
    outline: none;
    border-bottom: 1.5px solid lightgray;
    background: transparent;
}

.user-box label {
    font-weight: bold;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0px 6px;
    font-size: 17px;
    color: burlywood;
    pointer-events: none;
    transition: .5s all linear;
}

/* Esto para que cuando hagamos click en el input, el label se desplace hacia arriba */
.user-box input:valid~label,
.user-box input:focus~label {
    top: -25px;
    left: -5px;
    font-size: 16px;
}

.user-box input:-webkit-autofill,
.user-box input:-webkit-autofill:hover,
.user-box input:-webkit-autofill:focus {
    -webkit-text-fill-color: #FFF;
    -webkit-box-shadow: 0 0 0px 40rem #212121 inset !important;
}

/* Para alinear el botón al centro */
.botonCen {
    text-align: center;
    margin-top: -8px;
    margin-bottom: 50px;
}

/* Personalizamos el boton a nuestro gusto */
.botonCen .btnFormularios {
    font-weight: bold;
    font-size: 18px;

}