/* Esto es para darle estilo al titulo de nuestro formulario */
.login-title {
    font-family: 'Tilt Neon', sans-serif;
    margin-bottom: 50px;
}

.form-label .error, .form-label .ok {
    float: inline-end;
    margin-right: 20px;
}
