@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap'); /* Font como animado, servira mejor para encabezados y asi */

.container-tabla {
    outline: 3px solid white;
    border-radius: 15px;
    margin: 3vh;
    text-wrap: nowrap !important; /* Para evitar saltos de linea */
    /* Oculta barra de scroll */
    &::-webkit-scrollbar{
        display: none;
    }
}

.table {
    text-align: center !important; /* Para centrar el texto */
    overflow: hidden;
    margin: 0 auto !important;
}

/* Los campos del cabecero (thead) de nuestra tabla */
.table .head-tbl th{
    font-family: 'Madimi One';
    font-size: 23px;
    background-color: #232323;
    padding: 2px 8px;
    color: white;
}

/* El cuerpo de nuestra tabla (tbody) */
.table .body-tbl{
    font-size: 20px;
    align-items: center;
    justify-content: center !important;
}

/* Los campos del body (tbody) de nuestra tabla */
.table .body-tbl td{
    padding: 2px 10px;
}

