.container-tabla {
    outline: 3px solid white;
    border-radius: 15px;
    margin-bottom: 80vh;
    margin: 3vh;
    text-wrap: nowrap !important;
    /* Para evitar saltos de linea */
}

.titulo-tabla {
    font-family: 'Madimi One';
    font-size: 37px;
    text-align: center;
    margin: 1vh 0;
}

.table {
    cursor: default;
    text-align: center !important;
    /* Para centrar el texto */
    margin: 0 auto !important;
}

/* Los campos del cabecero (thead) de nuestra tabla */
.table .head-tbl th {
    font-size: 20px;
    /* Para darle como un borde extra del mismo tono a las letras ya que font-weight no sirve  */
    -webkit-text-stroke: 1px white;
    background-color: #121212;
    padding: 4px 8px;
    color: white;
}

/* El cuerpo de nuestra tabla (tbody) */
.table .body-tbl {
    font-size: 18px;
    align-items: center;
    justify-content: center !important;
}

.table .body-tbl tr:nth-child(odd) td {
    background-color: #2c3034 !important;
}

.table .body-tbl tr:nth-child(even) td{
    background-color: #212529 !important;
}

.table .body-tbl tr:hover td{
    background-color: rgba(255, 255, 255, 0.14) !important;
}

/* Los campos del body (tbody) de nuestra tabla */
.table .body-tbl td {
    padding: 2px 10px;
    text-transform: capitalize !important;
}

/* Contenedor del boton de crear */
.container-btn-tbl-crear {
    text-align: left;
    margin: 0 3vh;
    /* Para que sea de acorde por la tabla */
    /* border: 2px solid red; */
}

/* Boton crear */
.container-btn-tbl-crear .btn-tbl-crear {
    font-family: 'Madimi One';
    /* Se importa en el index.css */
    font-size: 23px;
    padding: 3px 9px;
}


/* Estilos botones editar y eliminar */
.container-tabla .table .body-tbl .btn {
    display: inline;
    padding: 0 6px;
    margin: 4px 3px;
    outline: none !important;
}


/* Para la barra de scroll */
.container-tabla::-webkit-scrollbar,
.container-tabla::-webkit-scrollbar-thumb {
    border-radius: 0 0 15px 15px;
}