.card{
    overflow: hidden;
}

.img-contenedor{
    background-color: #66666630;
}
.card-img-top{
    align-items: center;
    justify-content: center;
    width: 18rem;
    height: 12rem;
    object-fit: cover;
    filter: drop-shadow(0px 4px 4px black);
}

.card-title{
    border-bottom: 2px solid #fff;
    padding-bottom: 2px;
    width: fit-content;
}

.btn-shopping-cart{
    outline: none;
    border: none;
    display: flex;
    float: right;
    border-radius: 6px;
    padding: 5px;
    border: 3px solid black;
}
.ShoppingCart{
    display: inline;
    float: right;
    font-size: 20px;
}