.listar-productos .img-into-table {
    transition: .7s cubic-bezier(0.175, 0.885, 0.32, 1.275);

    &:hover {
        transform: scale(1.2);
    }
}

.listar-productos tbody td {
    height: 70px;
}