/* La barra de navegación global */
.navbar {
    font-family: 'Tilt Neon', sans-serif !important;
    background-color: #222;
    top: 0;
    /* Para que se quede fijo en la parte superior */
    position: sticky;
    /* Para que se quede fijo en la parte superior */
    width: 100%;
    z-index: 2;
    transition: .4s all ease-in;
    margin-bottom: 5vh;
}

/* La barra de navegación global */
.navbar:hover {
    background-color: #191919;
}

/* Este es el menu que se forma cuando la pantalla se hace pequeña */
.navbar-toggler {
    padding: 3px 5px;
    background-color: #DDD !important;

    &:hover,
    &:focus {
        color: transparent !important;
        outline: none !important;
    }
}

/* Este es el título en grande que tiene nuestro Navbar */
.navbar-brand {
    font-size: 32px !important;
    text-transform: uppercase;
    -webkit-text-stroke: 0.5px white;
    color: transparent !important;
    text-shadow: 0 0 30px #40F4FE,
        0 0 6px #40F4FE,
        0 0 8px #40F4FE,
        0 0 80px #40F4FE;

    &:hover {
        -webkit-text-stroke: 0.8px white;
        text-shadow: 0 0 4px #40F4FE,
            0 0 3px #40F4FE,
            0 0 30px #40F4FE,
            0 0 80px #40F4FE;
    }
}

/* Estos son los campos que tiene nuestro Navbar, es decir, los que redireccionan  */
.nav-link {
    font-size: 20px !important;
    color: white !important;
    -webkit-text-stroke: 0.5px white;

    &:hover,
    &:focus {
        color: transparent !important;
        text-shadow: 0 0 3px #F9128F,
            0 0 6px #F9128F,
            0 0 8px #F9128F;
    }
}

.nav-link.active {
    -webkit-text-stroke: 0.5px white;
    color: transparent !important;
    text-shadow: 0 0 3px #F9128F,
        0 0 6px #F9128F,
        0 0 8px #F9128F;
}

/* Este es el dropdowm menu, es decir, el desplegable por asi decirlo */
.dropdown-menu {
    color: white !important;
    /* padding: 0; */
    background-color: transparent;
    border: none;
    font-size: 15px;
}

/* Estos son los campos que están dentro de nuestro desplegable */
.dropdown-menu .dropdown-item {
    display: flex;
    justify-content: space-between !important;
    align-items: center;
    color: lightgray !important;
    border-radius: 4px;
    margin-bottom: 1px;
    background-color: #333 !important;
    transition: .2s all ease-in-out;
    box-sizing: content-box;

    &:hover {
        -webkit-text-stroke: .3px white;
        text-shadow: 0 0 2px lightgray;
        background-color: #272727 !important;
        transform: scale(1.015);
    }
}


/* VAMOS A MANIPULAR EL BOTON DE INICIO Y CIERRE DE SESIÓN */
.nav.sys-log{
    text-wrap: nowrap;
    flex: 1 auto;
    justify-content: flex-end;
    float: left;
}

.nav-item.li-sys-log .nav-log{
    text-decoration: none;
    border: 2px solid #F9128F;
    border-radius: 10px;
    color: white;
    outline: none;
    font-size: 18px;
    background-color: rgb(249, 16, 140, .2);
    padding: 3px 4px;
    transition: .2s all ease-in-out;
    &:hover{
        background-color: rgb(249, 16, 140, .7);
    }
}



/* VAMOS A MANIPULAR LOS ICONOS QUE HAY EN EL NAVBAR */
/* Manipulamos el tamaño de nuestra clase icon */

.icon {
    font-size: 20px;
    margin-right: 10px;
    color: white;
}

.icon-Adidas {
    font-size: 30px;
}

.icon-Puma {
    font-size: 30px;
    color: white;
}