.container.pedido {
  margin: 0 auto !important;
  padding: 0 !important;
  width: 96% !important;
  height: 61.5vh;
  overflow-y: scroll;
  border: 4px solid #121212;
  border-radius: 9px;

  &::-webkit-scrollbar {
    display: none;
  }
}

.container.pedido .container-filtros{
  position: sticky;
  top: 0;
  display: flex;
  outline: none;
}
.container-filtros .input-buscar,
.container-filtros .select-filtros{
  margin: 0 2px;
  outline: none !important;
}
.container-filtros .input-buscar{
  width: 100% !important;
}
.container-filtros .select-filtros{
  width: 40% !important;
}

.container.pedido .title-pedido {
  position: sticky;
  font-family: 'Madimi One';
  font-size: 30px;
  background-color: #121212;
  top: 0 !important;
  width: 100% !important;
  margin: 0 !important;
  padding: 4px !important;
}

.seccion-productos {
  display: flex;
  flex-direction: column;
}

.seccion-productos .listado-productos {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  margin: 8px 10px !important;
  padding: 6px !important;
  background-color: rgba(222, 184, 135, 0.149);
  border-radius: 10px;
  border: 2px solid burlywood;

  & .pr-nombre {
    border: 2px solid blue;
    cursor: pointer;
    width: 75%;
    margin: 0 !important;
    font-family: 'Courier New', Courier, monospace;
  }

  & .pr-descripcion {
    font-size: 17px;
    margin: 2px;
  }

  & .pr-precio {
    text-wrap: nowrap;
    margin-right: 8px;
    font-family: 'Courier New', Courier, monospace;
  }

}

.seccion-productos .listado-productos .pr-nombre,
.seccion-productos .listado-productos .pr-precio {
  margin: 0 3px;
  font-size: 20px;
}
